{% extends 'base.html' %}
{% block content %}
    <div style="padding-left:16px">
        <h1>LOGIN</h1>
        <p>&nbsp;</p>
        <!-- <form name="form1" action ="PHP\login.php" method="post" onSubmit="return check()">-->
        <form name="form1">
            <fieldset>
                <legend>Login Form</legend>
                <p>Email address:&nbsp;<input type="email" name="emailuser" placeholder="name@example.com" class="input-element"></p>
                <p>Password:&nbsp;<input type="password" name="password" placeholder="Password" class="input-element"></p>
                <p>
                    <center>
                        <input type="submit" name="submit" value="Submit" class="input-botton">&nbsp;
                        <input type="reset" name="annulla" value="Annulla" class="input-botton">&nbsp;
                        <a href="reset_pwd" class="links">Reset Password</a>&nbsp;
                        <a href="sign_up" class="links">Sign up</a>
                    </center>
                </p>
            </fieldset>
        </form>
    </div>
{% endblock %}