{% extends 'base.html' %}
{% block content %}
    <div style="padding-left:16px">
        <h1>Register</h1>
        <p>&nbsp;</p>
        <!--<form name="form1" action="PHP\register.php" onSubmit="return check()">-->
        <form name="form1">
            <fieldset>
                <legend>Registration Form</legend>
                <p>Name:&nbsp;<input type="text" name="name" placeholder="Name" class="input-element"></p>
                <p>Surname:&nbsp;<input type="text" name="surname" placeholder="Surname" class="input-element"></p>
                <p>Birthdate:&nbsp;<input type="date" name="date" placeholder="00/00/00" class="input-element"></p>
                <p>Email address:&nbsp;<input type="email" name="email" placeholder="name@example.com" class="input-element"></p>
                <p>password:&nbsp;<input type="password" name="password" placeholder="Password" class="input-element"></p>
                <p>ripeti password:&nbsp;<input type="password" name="password1" placeholder="Password" class="input-element"></p>
                <p><input  type="checkbox" value="remember-me">&nbsp;Remember me</p>
                <p>
                    <input type="submit" name="register" value="Sign up" class="input-botton">&nbsp;
                    <input type="reset" name="reset" value ="Cancel" class="input-botton">
                </p>
            </fieldset>
        </form>
    </div>
{% endblock %}