{% extends 'baseUsers.html' %}
{% block content %}
<div class="add_container">
    <div class="add_d">
        <h2>Aggiungi un docente</h2>
        <p>Inserisci le informazioni richieste:</p>
        </br>
        <form class="login-form">
            <input type="text" id="codiceFiscale" placeholder="Codice Fiscale">
            </br>
            <input type="text" id="nome" placeholder="Nome">
            </br>
            <input type="text" id="cognome" placeholder="Cognome">
            </br>
            <input type="text" id="mail" placeholder="username@example.com">
            </br>
            <input type="date" id="annoNascita">
            </br>
            <input type="password" id="password" placeholder="Password">
            </br>
            <button onclick="inviaDati()">Invia al server</button>
        </form>
    </div>
</div>
<script>
    function notNull(cf, n, c, m, a, p) {
        if (cf === null || cf.trim() === '' ||
            n === null || n.trim() === '' ||
            c === null || c.trim() === '' ||
            m === null || m.trim() === '' ||
            a === null || a.trim() === '' ||
            p === null || p.trim() === '') {
            showAlert('warning', 'Inserire in tutti i campi i dati');
            return false;
        }

        if (!m.includes('@unive.it')) {
            showAlert('warning', 'La mail deve contenere "@unive.it"');
            return false;
        }

        var birthYear = new Date(a).getFullYear();
        var currentYear = new Date().getFullYear();
        var age = currentYear - birthYear;

        if (age < 30) {
            showAlert('warning', 'L\'età deve essere maggiore o uguale a 30');
            return false;
        }

        if (cf.length !== 16) {
            showAlert('warning', 'Il codice fiscale deve essere lungo 16 caratteri');
            return false;
        }

        var cfRegex = /^[A-Z]{6}[0-9]{2}[A-Z]{1}[0-9]{2}[A-Z]{1}[0-9]{3}[A-Z]{1}$/;
        if (!cf.match(cfRegex)) {
            showAlert('warning', 'Il codice fiscale non ha il formato corretto');
            return false;
        }
        showAlert('info', 'Dati inseriti correttamente');
        return true;
    }
    function inviaDati() {
        const codiceFiscale = document.getElementById("codiceFiscale").value;
        const nome = document.getElementById("nome").value;
        const cognome = document.getElementById("cognome").value;
        const mail = document.getElementById("mail").value;
        const annoNascita = document.getElementById("annoNascita").value;
        const pwd = document.getElementById("password").value

        if (notNull(codiceFiscale, nome, cognome, mail, annoNascita, pwd)) {
            // Esempio di utilizzo di fetch per inviare i dati al server Flask
            fetch('/Admin/aggiungi_docente', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    codiceFiscale: codiceFiscale,
                    nome: nome,
                    cognome: cognome,
                    mail: mail,
                    annoNascita: annoNascita,
                    password: pwd
                })
            })
                .catch(error => {
                    console.error('Errore durante l\'invio dei dati al server:', error);
                });
            window.location.assign("/Admin");
        }
    }
</script>
{% endblock %}