{% extends 'baseUsers.html' %}
{% block content %}

<div class="asg_cd">
    <h2>Associa Docente a Corso:</h2>

    <p>Selezione docente:
        <select id="Docente">
            <option selected disabled hidden>-----------</option>
            {% for docente in docenti %}
            <option value="{{ docente.codice_fiscale }}">{{ docente.nome + " " + docente.cognome }}</option>
            {% endfor %}
        </select>
    </p>
    <p>Seleziona corso d'insegnamento:
        <select id="Corso">
            <option selected disabled hidden>-----------</option>
            {% for corso in corsi %}
            <option value="{{ corso.codice }}">{{ corso.nome }}</option>
            {% endfor %}
        </select>
    </p>
    <button onclick="inviaDati()">Associa</button>
</div>

<script>
    function inviaDati() {
        let selettore_docente = document.getElementById("Docente");
        let selettore_corso = document.getElementById("Corso");
        let docente = selettore_docente.value;
        let corso = selettore_corso.value;
        if (docente === '-----------' || corso === '-----------') {
            alert("Seleziona dei dati validi");
        }
        else {
            fetch('/Admin/associazioneCorso_Docente', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json' // Cambiato il Content-Type a "application/json"
                },
                body: JSON.stringify({
                    cod_Docente: docente,
                    cod_Corso: corso
                })
            })
            window.location.assign("/Admin");
        }
    }

</script>
{% endblock %}