{% extends 'baseUsers.html' %}
{% block content %}
<div class="st_bp">
    <h2>Tabella Prenotazioni agli Appelli</h2>
    <table id="tabella" border="1" class="tableC">
        <thead>
            <tr>
                <th>Codice corso</th>
                <th>Nome corso</th>
                <th>Data esame</th>
                <th>Codice esame</th>
                <th>Elimina Prenotazione</th>
            </tr>
        </thead>
        <tbody>
            <!-- Ciclo per costruire le righe della tabella -->
            {% for riga in righe %}
            <tr>
                <td>{{ riga["CodiceCorso"] }}</td>
                <td>{{ riga["NomeCorso"] }}</td>
                <td>{{ riga["Data"] }}</td>
                <td>{{ riga["CodEsame"] }}</td>
                <td><button onclick="delete_appello(this)">Cancella iscrizione</button></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
    <script>
        function delete_appello(button) {
            var riga = button.parentElement.parentElement;

            var rigaDati = {
                "CodiceCorso": riga.cells[0].innerText,
                "NomeCorso": riga.cells[1].innerText,
                "Data": riga.cells[2].innerText,
                "CodEsame": riga.cells[3].innerText,
            };

            // Invia i dati della riga al server Python
            fetch('/delete_appello', { method: 'POST', headers: { 'Content-Type': 'application/json'}, body: JSON.stringify(rigaDati) })
            .then(response => response.json())
            .then(data => { alert(data.message);  })// Messaggio di conferma dal server
            .catch(error => console.error('Errore:', error));
            window.location.assign('/stud');
        }

    </script>
{% endblock %}