<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>BUSSY</title>
    <meta name="author" content="Bertocco Marco">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/main_menu.css">
    <link rel="icon" type="image/x-icon" href="/static/images/logod.ico">
</head>

<body>
    <div class="navbar">
        <img src="/static/images/logo.png" alt="logo">
        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/sign_up">Sign Up</a></li>
            <li><a href="/esami">Esami</a></li>
        </ul>
        <div class="search-bar">
            <input type="text" placeholder="Search...">
            <button><img src="/static/images/search.png" alt="SearchIcon"></button>
        </div>
    </div>
    <div class="container">
        {% block content %}

        {% endblock %}
    </div>
    <div class="bottom-bar">
        <a href="#" class="copy-link" id="copyLinkTelephone">telephone: +39 XXX XXX XXXX</a>
        <a href="#" class="copy-link" id="copyLinkMail">mail: univeservices@gmail.com</a>
    </div>
    <script>
        const copyLinks = document.querySelectorAll('.copy-link');

        copyLinks.forEach(link => {
            link.addEventListener('click', function (event) {
                event.preventDefault();

                const contentToCopy = this.textContent.split(': ')[1];
                const textarea = document.createElement('textarea');
                textarea.value = contentToCopy;
                document.body.appendChild(textarea);
                textarea.select();
                document.execCommand('copy');
                document.body.removeChild(textarea);

                alert('Content copied to clipboard: ' + contentToCopy);
            });
        });
    </script>
</body>

</html>