<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Pagina Utente</title>
    <meta name="author" content="Bertocco Marco">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/main_users.css">
    <link rel="stylesheet" href="/static/css/alert.css">
    <link rel="icon" type="image/x-icon" href="/static/images/logod.ico">
</head>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const sidebar = document.getElementById('sidebar');
        const toggleButton = document.querySelector('.toggle-button');

        function toggleSidebar() {
            if (sidebar) {
                sidebar.classList.toggle('open');
            }
        }

        // Close the sidebar when clicking outside the menu
        document.addEventListener('click', function (event) {
            if (sidebar) {
                const targetElement = event.target;
                if (!sidebar.contains(targetElement) && !targetElement.classList.contains('toggle-button')) {
                    sidebar.classList.remove('open');
                }
            }
        });

        if (toggleButton) {
            toggleButton.addEventListener('click', toggleSidebar);
        }
    });
    
    function showAlert(alertType, message) {
        var alertDiv = document.querySelector('.alert.' + alertType);
        if (alertDiv) {
            var pElement = alertDiv.querySelector('p[name="p_' + alertType + '"]');
            if (pElement) {
                pElement.textContent = message;
            }
            alertDiv.classList.add('visible');
        }
    }

    function hideAlert(alertType) {
        var alertDiv = document.querySelector('.alert.' + alertType);
        if (alertDiv && !alertDiv.classList.contains('unclosable')) { // Check if the alert is not marked as unclosable
            alertDiv.classList.remove('visible');
            var pElement = alertDiv.querySelector('p[name="p_' + alertType + '"]');
            if (pElement) {
                pElement.textContent = '';
            }
        }
    }
</script>

<body>
    <!-- Button to toggle the navigation bar -->
    <button class="toggle-button">☰</button>

    <!-- Vertical Navigation Bar -->
    <div class="sidebar" id="sidebar">
        <br>
        <img src="/static/images/logo.png" alt="logo">
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/log_out">Log Out</a></li>
            <li><a href="/reset">Reset Password</a></li>
        </ul>
    </div>

    <!-- Main content area -->
    <div class="container">
        {% block content %}

        {% endblock %}
        <div class="alert-container">
            <div class="alert danger">
                <span class="closebtn" onclick="hideAlert('danger')">&times;</span>
                <strong>Danger!</strong>
                <p name="p_danger"></p>
            </div>

            <div class="alert success">
                <span class="closebtn" onclick="hideAlert('success')">&times;</span>
                <strong>Success!</strong>
                <p name="p_success"></p>
            </div>

            <div class="alert info">
                <span class="closebtn" onclick="hideAlert('info')">&times;</span>
                <strong>Info!</strong>
                <p name="p_info"></p>
            </div>

            <div class="alert warning">
                <span class="closebtn" onclick="hideAlert('warning')">&times;</span>
                <strong>Warning!</strong>
                <p name="p_warning"></p>
            </div>
        </div>
    </div>
</body>

</html>