{% extends 'baseUsers.html' %}
{% block content %}
<div class="add_cl">
    <h2>Aggiungi Corso Laurea</h2>
    <p>Inserisci le informazioni richieste:</p>
    <form class="addCorsi-form" action="/Admin/aggiungi_corso_laurea" method="POST">
        <input type="text" id="codice_corso" name="codice_corso" placeholder="Codice Corso di laurea"><br>
        <input type="text" id="nome_corso" name="nome_corso" placeholder="Nome corso di laurea"><br>
        <input type="text" id="specializzazione" name="specializzazione" placeholder="Specializzazione"><br>
        <input type="text" id="indirizzo" name="indirizzo" placeholder="Indirizzo"><br>
        <button type="submit" value="Invia">Aggiungi</button>
    </form>
</div>
{% endblock %}