<!DOCTYPE html>
<html>
<head>
    <title>Form per dati di corso di laurea</title>
</head>
<body>
    <form action="/Admin/aggiungi_corso_laurea" method="post">
        <label for="codice_corso">Codice Corso di laurea:</label>
        <input type="text" id="codice_corso" name="codice_corso"><br>

        <label for="nome_corso">Nome corso di laurea:</label>
        <input type="text" id="nome_corso" name="nome_corso"><br>

        <label for="specializzazione">Specializzazione:</label>
        <input type="text" id="specializzazione" name="specializzazione"><br>

        <label for="indirizzo">Indirizzo:</label>
        <input type="text" id="indirizzo" name="indirizzo"><br>

        <input type="submit" value="Invia">
    </form>
</body>
</html>
