{% extends 'baseUsers.html' %}
{% block content %}
<div class="add_c">
    <h2>Aggiungi Corso</h2>
    <p>Inserisci le informazioni richieste:</p>
    </br>
    <form>
        <input type="text" id="codice_corso" name="codice_corso" placeholder="Codice Corso"><br>
        <input type="text" id="nome_corso" name="nome_corso" placeholder="Nome Corso"><br>
        <button type="submit" value="Invia" onclick="inviaDati()">Invia al server</button>
    </form>
</div>
<script>
    function notNull(cc, n) {
        if (cc === null || cc.trim() === '' ||
            n === null || n.trim() === '') {
            showAlert('warning', 'Inserire in tutti i campi i dati');
            return false;
        }
        showAlert('info', 'Dati inseriti correttamente');
        return true;
    }
    function inviaDati() {
        const codiceCorso = document.getElementById("codice_corso").value;
        const nome = document.getElementById("nome_corso").value;


        if (notNull(codiceCorso, nome)) {
            // Esempio di utilizzo di fetch per inviare i dati al server Flask
            fetch('/Admin/aggiungi_corso', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    codiceCorso: codiceCorso,
                    nome: nome,
                })
            })
                .catch(error => {
                    console.error('Errore durante l\'invio dei dati al server:', error);
                });
        }
    }
</script>
{% endblock %}