{% extends 'baseUsers.html' %}
{% block content %}
<div class="add_c">
    <h2>Aggiungi Corso</h2>
    <p>Inserisci le informazioni richieste:</p>
    </br>
    <form action="/Admin/aggiungi_corso" method="post">
        <input type="text" id="codice_corso" name="codice_corso" placeholder="Codice Corso"><br>
        <input type="text" id="nome_corso" name="nome_corso" placeholder="Nome Corso"><br>
        <button type="submit" value="Invia">Invia al server</button>
    </form>
</div>
{% endblock %}