{% extends 'baseUsers.html' %}
{% block content %}
<div class="add_e">
    <h1>Inserisci i dati:</h1>
    <form action="/Docenti/Crea_Esame" method="POST">
        <div class="form-group">
            <p style="text-align: left;">Corso: </p>
            <select name="corso" id="corso">
                <option selected disabled hidden>-----------</option>
                {% for corso in corsi %}
                <option value="{{ corso.CodiceCorso }}">{{ corso.NomeCorso }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <p style="text-align: left;">Codice esame:</p>
            <input type="text" name="codice_esame" required>
        </div>
        <div class="form-group">
            <p style="text-align: left;">Nome esame:</p>
            <input type="text" name="nome_esame" required>
        </div>
        <div class="form-group">
            <p style="text-align: left;">Data:</p>
            <input type="date" name="data" required>
        </div>
        <div class="form-group">
            <p style="text-align: left;">Tipo:</p>
            <select name="tipo" id="tipo">
                <option value="Scritto">Scritto</option>
                <option value="Orale">Orale</option>
                <option value="Progetto">Progetto</option>
                <option value="Compitino">Compitino</option>
            </select>
        </div>
        <div class="form-group">
            <p style="text-align: left;">Valore:</p>
            <select name="valore" id="valore">
                <option value="0">IDONEITÀ</option>
                <option value="3">3 crediti</option>
                <option value="6">6 crediti</option>
                <option value="12">12 crediti</option>
            </select>
            <button type="submit">Invia dati</button>
        </div>
    </form>
</div>
{% endblock %}