{% extends 'baseUsers.html' %}
{% block content %}
<div class="add_e">
    <h1>Inserisci i dati:</h1>
    <form action="/Docenti/Crea_Esame" method="POST">
        <label for="corso">Corso:</label>
        <select name="corso" id="corso">
            <option selected disabled hidden>-----------</option>
            {% for corso in corsi %}
            <option value="{{ corso.CodiceCorso }}">{{ corso.CodiceCorso }}</option>
            {% endfor %}
        </select>

        <br>

        <label for="codice_esame">Codice esame:</label>
        <input type="text" name="codice_esame" required>


        <br>

        <label for="nome_esame">Nome esame:</label>
        <input type="text" name="nome_esame" required>

        <br>

        <label for="data">Data:</label>
        <input type="date" name="data" required>

        <br>

        <label for="tipo">Tipo:</label>
        <select name="tipo" id="tipo">
            <option value="Scritto">Scritto</option>
            <option value="Orale">Orale</option>
            <option value="Progetto">Progetto</option>
            <option value="Compitino">Compitino</option>
        </select>

        <br>

        <label for="valore">Valore:</label>
        <select name="valore" id="valore">
            <option value="0">IDONEITÀ</option>
            <option value="3">3 crediti</option>
            <option value="6">6 crediti</option>
            <option value="12">12 crediti</option>
        </select>

        <br>

        <button type="submit">Invia dati</button>
    </form>
</div>
{% endblock %}