{% extends 'baseUsers.html' %}
{% block content %}
<div class="del_e">
    <h2>Lista esami:</h2>
    <table border="1" class="tableC">
        <tr>
            <th>Corso</th>
            <th>Nome esame</th>
            <th>Data</th>
            <th>Tipo</th>
            <th>Valore</th>
            <th>Elimina</th>
        </tr>
        {% for esame in esami %}
        <tr>
            <td>{{ esame['Corso'] }}</td>
            <td>{{ esame['CodEsame'] }}</td>
            <td>{{ esame['Data'] }}</td>
            <td>{{ esame['Tipo'] }}</td>
            <td>{{ esame['Valore'] }} crediti</td>
            <td>
                <form action="/Docenti/Elimina_Esame" method="POST">
                    <input type="hidden" name="codEsame" value="{{ esame['CodEsame'] }}">
                    <button type="submit">Elimina</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}