{% extends 'baseMenu.html' %}
{% block content %}
<h1>Seleziona Corso di Laurea</h1>
<form action="/esami" method="POST">
    <select name="corso_di_laurea">
        <option value="null">----------</option>
        <option value="informatica">Informatica</option>
        <option value="ingegneria">Ingegneria</option>
        <option value="economia">Economia</option>
        <!-- Aggiungi altre opzioni per i corsi di laurea -->
    </select>
    <input type="submit" value="Visualizza Esami">
</form>
</br>
</br>
<h1>Elenco Esami per Corso di Laurea - {{ corso_di_laurea }}</h1>
{% if esami %}
{% for anno, elenco_esami in esami.items() %}
<h2>{{ anno }}</h2>
<ul>
    {% for esame in elenco_esami %}
    <li>{{ esame }}</li>
    {% endfor %}
</ul>
{% endfor %}
{% else %}
<p>Nessun esame disponibile per questo corso di laurea.</p>
{% endif %}

{% endblock %}