{% extends 'baseUsers.html' %}
{% block content %}
<div class="del_u">
    <h2>Elimina Corso Laurea</h2>
    <table class="tableC" border="1">
        <thead>
            <tr>
                <th>Codice Corso</th>
                <th>Nome Corso</th>
                <th>Elimina</th>
            </tr>
        </thead>
        <tbody>
            {% for corso in corsi %}
                <tr>
                    <td>{{ corso.codice }}</td>
                    <td>{{ corso.nome }}</td>
                    <td>
                        <form action="/Admin/elimina_corso" method="post">
                            <input type="hidden" name="codice_corso" value="{{ corso.codice }}">
                            <input type="submit" value="Elimina">
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}