
{% block content %}
<head>
<center>
    <h1>Università Ca Foscari di Venezia</h1>
    <img src="{{ url_for('static', filename='logo.jpg') }}" alt="Logo" width="200" height="200">
</center>
</head> 
<div style="position: absolute; top: 0; right: 0;">
    <a href="login">Registrati</a><br></br>
    <a href="sign_up">Login</a>
</div>
<body>
    <font size="+2">
    <h2 style="color: green;">Elenco Corsi Scientifici:</h2>
    {% for corso in elenco_corsi_scientifici %}
        <a href="{{ corso }}">{{ corso }}</a></a><br/>
    {% endfor %}
    <h2 style="color: red;">Elenco Corsi Umanistici:</h2>
    {% for corso in elenco_corsi_umanistici %}
        <a href="{{ corso }}">{{ corso }}</a></a><br/>
    {% endfor %}
    <h2 style="color: orange;">Elenco Corsi Economia:</h2>
    {% for corso in elenco_corsi_economici %}
        <a href="{{ corso }}">{{ corso }}</a></a><br/>
    {% endfor %}
    <h2 style="color: blue;">Elenco Corsi Lingua:</h2>
    {% for corso in elenco_corsi_lingua %}
        <a href="{{ corso }}">{{ corso }}</a></a><br/>
    {% endfor %}

    <br></br>
</body>
    
{% endblock %}
