{% extends 'baseMenu.html' %}
{% block content %}
<div class="index-container">
    <h1>Lista Corsi di Laurea</h1>
    <ul class="links">
        {% for corso_laurea in corsi_Laurea %}
        <li style="font-size: 30px;">{{ corso_laurea.nome }} (Codice: {{ corso_laurea.codice }})</li>
        <ul class="sub-links">
            {% for corso in corsi %}
            {% if corso.codiceCorsoLaurea == corso_laurea.codice %}
            <li style="font-size: 25px;">{{ corso.nomeCorso }} ({{ corso.anno }})</li>
            {% endif %}
            {% endfor %}
        </ul>
        <br>
        {% endfor %}
    </ul>
</div>
{% endblock %}