{% extends 'baseMenu.html' %}
{% block content %}
<div class="form-container">
    <h2>Login</h2>
    <p>Inserisci le tue credenziali:</p>
    <form class="login-form">
        <input type="email" placeholder="name@example.com"><br>
        <input type="password" placeholder="Password"><br>
        <button type="submit">Login</button>
    </form>
    <br>
    <ul class="links">
        <li><a href="reset_pwd">Reset Password</a></li>
        <li><a href="sign_up">Sign up</a></li>
    </ul>
</div>
{% endblock %}