{% extends 'baseMenu.html' %}
{% block content %}
<script>
    function checkLoginForm() {
        var ml = document.getElementsByName("mail");
        var pwd = document.getElementsByName("password");
        if (pwd[0].value == "" || ml[0].value == "") {
            showAlert('warning', 'mail e password non possono essere vuoti');
            return false;
        }

        // Check if the mail contains valid domain
        var validDomains = ['@stud.unive.it', '@administrator.com', '@unive.it'];
        var validDomainFound = false;

        for (var i = 0; i < validDomains.length; i++) {
            if (mailValue.includes(validDomains[i])) {
                validDomainFound = true;
                break;
            }
        }

        if (!validDomainFound) {
            showAlert('warning', 'Mail deve contenere un dominio valido (@stud.unive.it, @administrator.com o @unive.it)');
            return false;
        }

        showAlert('info', 'Mail e password inserite');
        return true;
    }
</script>
<div class="form_container">
    <h2>Login</h2>
    <p>Inserisci le tue credenziali:</p>
    <form class="login-form" method="POST" action="/login" onsubmit="return checkLoginForm()">
        <input type="email" name="mail" placeholder="name@example.com"><br>
        <input type="password" name="password" placeholder="Password"><br>
        <button type="submit">Login</button>
    </form>
    <br>
    <ul class="links">
        <li><a href="sign_up">Sign up</a></li>
    </ul>
</div>
{% endblock %}