{% extends 'baseUsers.html' %}
{% block content %}
<div class="users_container">
    <h3>Menu Principale Studenti</h3>
    <ul class="links">
        <li><a href="/stud/bacheca_esiti">Bacheca Esiti Esami</a></li>

        <li><a href="/stud/bacheca_prenotazione_appelli">Bacheca Prenotazione Appelli</a></li>

        <li><a href="/stud/prenotazioni_appelli">Prenotazioni Appelli</a></li>

        <li><a href="/stud/lista_esami_utente">Lista Esami Utente</a></li>

        <li><a href="/stud/user_data">Info Personali</a></li>
    </ul>
</div>
{% endblock %}