{% extends 'baseUsers.html' %}
{% block content %}
<div class="users_container">
    <h3>Menu Principale Docenti</h3>
    <ul class="links">
        <li><a href=/Docenti/Numeri_di_telefono>Aggiungi - rimuovi numero di telefono</a></li>

        <li><a href="/Docenti/Crea_Esame">Crea un esame</a></li>
        <li><a href="/Docenti/Elimina_Esame">Cancella esame</a></li>

        <li><a href="/Docenti/Elenco_esami">Inserisci voti studenti</a></li>

        <li><a href="/Docenti/user_data">Info Personali</a></li>
    </ul>
</div>
{% endblock %}