<!DOCTYPE html>
<html>
<head>
    <title>Link alle pagine</title>
</head>
<body>
    <h1>Menù principale</h1>
    <ul>
        <li><a href="/Admin/add_user">Aggiungi Utente</a></li>
        <li><a href="/Admin/delete_user">Elimina Utente</a></li>

        <li><a href="/Admin/aggiungi_docente">Aggiungi docente</a></li>
        <li><a href="/Admin/delete_docente">Elimina docente</a></li>

        <li><a href="/Admin/aggiungi_corso_laurea">Aggiungi Corso di laurea</a></li>
        <li><a href="/Admin/elimina_corso_laurea">Elimina Corso di laurea</a></li>

        <li><a href="/Admin/aggiungi_corso">Aggiungi Corso di insegnamento</a></li>
        <li><a href="/Admin/elimina_corso">Elimina Corso di insegnamento</a></li>

        <li><a href="/Admin/assegnaCorso_CorsoLaurea">Assegna corso di insegnamento - corso di Laurea</a></li>
        <li><a href="/Admin/delete_corso_corsoLaurea">Elimina associazione corso da insegnamento - corso di laurea</a></li>

        <li><a href="/Admin/associazioneCorso_Docente">Assegna corso di insegnamento - docente</a></li>
        <li><a href="/Admin/delete_corso_Docente">Elimina associazione corso di insegnamento - docente</a></li>

    </ul>
</body>
</html>
