<!DOCTYPE html>
<html>
<head>
    <title>Menu Principale</title>
</head>
<body>
    <h1>Menu Principale</h1>
    <ul>
        <li><a href="/stud/bacheca_esiti">Bacheca Esiti Esami</a></li>
        <li><a href="/stud/bacheca_prenotazione_appelli">Bacheca Prenotazione Appelli</a></li>
        <li><a href="/stud/prenotazioni_appelli">Prenotazioni Appelli</a></li>
        <li><a href="/stud/lista_esami_utente">Lista Esami Utente</a></li>
        <li><a href="/user_data">Info Personali</a></li>
    </ul>
</body>
</html>
