<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tabella numeri di telefono</title>
</head>
<br>
    <h1>Tabella numeri di telefono</h1>
    <table id="table">
        <tr>
            <th>Numero di telefono</th>
            <th>Elimina</th>
        </tr>
        {% for numero in phone_numbers %}
        <tr>
            <td>{{ numero }}</td>
            <td>
                <button onclick="deletenumber(this)">Elimina</button>
            </td>
        </tr>
        {% endfor %}
    </table>
    </br>
    <button id="mostraFormButton" onclick="mostraForm()">Aggiungi Nuovo numero di telefono</button>

    <div id="formContainer" style="display: none;">
        <form id="numeroForm">
            <label for="telefono">Inserisci il numero di telefono:  </label>
            <input type="text" id="telefono" name="telefono" required>
            <button type="submit" onclick="invia()">Invia</button>
        </form>
    </div>




    <script>
        function invia_numero(method, numeroTelefono) {
            fetch(method, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json' // Cambiato il Content-Type a "application/json"
                },
                body: JSON.stringify({ number: numeroTelefono })
            })
            .then(data => { window.location.reload();})
        }
        function mostraForm() {
            var formContainer = document.getElementById('formContainer');
            formContainer.style.display = 'block';
        }
        function invia() {
             var numeroTelefono = document.getElementById('telefono').value;
             invia_numero('/add_phone', numeroTelefono);
        }
        function deletenumber(button) {
            var row = button.closest('tr');
            var numeroElement = row.querySelector('td:first-child');
            var numeroTelefono = numeroElement.textContent;
            invia_numero('/delete_phone', numeroTelefono);
           
        }
    </script>
</body>
</html>
