{% extends 'baseMenu.html' %}
{% block content %}
<script>
    function checkSignUpForm() {
        var nm = document.getElementsByName("Nome");
        var srnm = document.getElementsByName("Cognome");
        var dt = document.getElementsByName("AnnoNascita");
        var cf = document.getElementsByName("Codicefiscale");
        var ml = document.getElementsByName("Email");
        var pwd = document.getElementsByName("password");
        var cl = document.getElementById("corso_di_laurea");
        
        if (nm[0].value === "" || srnm[0].value === "" || dt[0].value === "" || cf[0].value === "" || ml[0].value === "" || pwd[0].value === "" || cl.selectedIndex === 0) {
            showAlert('warning', 'i campi non possono essere vuoti');
            return false;
        }
        var birthYear = new Date(dt).getFullYear();
        var currentYear = new Date().getFullYear();
        var age = currentYear - birthYear;

        if (age < 18) {
            showAlert('warning', 'L\'età deve essere maggiore o uguale a 18');
            return false;
        }
        var validDomains = ['@outlook.com', '@libero.it', '@yahoo.com', '@virgilio.it', '@gmail.com'];
        var validDomainFound = false;
        for (var i = 0; i < validDomains.length; i++) {
            if (mailValue.includes(validDomains[i])) {
                validDomainFound = true;
                break;
            }
        }

        if (!validDomainFound) {
            showAlert('warning', 'Mail deve contenere un dominio valido (@outlook.com, @libero.it, @yahoo.com, @virgilio.it,@gmail.com)');
            return false;
        }

        var cfRegex = /^[A-Z]{6}[0-9]{2}[A-Z]{1}[0-9]{2}[A-Z]{1}[0-9]{3}[A-Z]{1}$/;
        if (!cf.match(cfRegex)) {
            showAlert('warning', 'Il codice fiscale non ha il formato corretto');
            return false;
        }

        showAlert('info', 'tutti i campi sono stati inseriti');
        return true;
    }
</script>
<div class="form_container">
    <h2>Sign Up</h2>
    <p>Inserisci le informazioni richieste:</p>
    <form class="signup-form" method="POST" action="/sign_up" onsubmit="return checkSignUpForm()">
        <input type="text" name="Nome" placeholder="Name"><br>
        <input type="text" name="Cognome" placeholder="Surname"><br>
        <input type="date" name="AnnoNascita" placeholder="00/00/00"><br>
        <input type="text" name="Codicefiscale" placeholder="Codicefiscale"><br>
        <input type="email" name="Email" placeholder="name@example.com"><br>
        <input type="password" name="password" placeholder="Password"><br>
        <select name="corsoLaurea" id="corso_di_laurea">
            <option selected disabled hidden>--------------------------</option>
            {% for codice, info in corsiLaurea.items() %}
            <option value="{{ codice }}">{{ info }}</option>
            {% endfor %}
        </select>
        <div class="checking">
            <input type="checkbox" name="remember-me" value="remember-me" id="remember-me">
            <label for="remember-me">Remember me</label>
        </div>
        <button type="submit">Sign up</button>
    </form>
</div>
{% endblock %}