<!DOCTYPE html>
<html>
<head>
  <title>Elenco Testi Esami per Corso di Laurea</title>
</head>
<script type="text/javascript">
  function check(){
    if ((document.form1.corso_di_laurea.value)!="-----------"){
	  return true;
	}
	else if ((document.form1.anno_corsi.value)!="-----------"){
	  return true;
	}
	else{
	  alert ("All the fields are empty!");
	  return false;
	}
  }
  function showlist(){
    var csLaurea=document.getElementById("corso_di_laurea").value;
    var yearCs=document.getElementById("anno_corsi").value;

    var dettagliElemento = document.getElementById('esame');
    dettagliElemento.innerHTML = "{% for anno, elenco_esami in esami.items() %} <ul> {% if anno == "+yearCs+"%}{% for esame in elenco_esami %}<li>{{ esame }}</li>{% endfor %}{% endif %}</ul>{% endfor %}";
  
    $.ajax({url: "/path/to/python/script.py",type: "GET",
    success:function(response) {
        // La lista Python è contenuta nella risposta (response)
        var pythonList = JSON.parse(response)
    }});
  }
</script>
<body>
  {% extends 'base.html' %}
  {% block content %}
  <h1>Seleziona Testi Esami</h1>
    <form name="form1" action="/testiEsami">
      <select id="corso_di_laurea">
        <option selected disabled hidden>-----------</option>
        {% for corso in corsiLaurea %}
          <option value={{corso}}>{{corso}}</option>
        {% endfor %}
      </select>
      
      <select id="anno_corsi">
        <option selected disabled hidden>-----------</option>
          <option value="Primo Anno">Primo Anno</option>
          <option value="Secondo Anno">Secondo Anno</option>
          <option value="Terzo Anno">Terzo Anno</option>
      </select>

      <button onclick="check() && showlist()">Vedi lista</button>
    </form>

    <div class="elenco-esami">
        <h2>Esami</h2>
        <div id="esame">
            Seleziona un corso e anno per visualizzare gli esami.
        </div>
    </div>
    {% endblock %}
    
</body>
</html>
